/* src/pages/Login.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://www.beautifulhomes.asianpaints.com/content/dam/asianpaintsbeautifulhomes/home-page/home/BHS-choose-your-favorite-material.jpg'); /* Adjust the path as necessary */
  background-size: cover;
  background-position: center;
  color: black; /* Ensure text is visible on the background */
  text-align: center;
}

form {
  background-color: white; /* Semi-transparent background for the form */
  padding: 20px;
  border-radius: 10px;
}

input, select {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

button {
  margin: 10px;
  padding: 10px 60px;
  font-size: 16px;
  cursor: pointer;
  background-color: blue; /* Button color */
  color: white;
  border: none;
}

button:hover {
  background-color: #45a049; /* Hover effect for the button */
}

p {
  margin: 10px 0;
}
